<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2017 Ignite Realtime Foundation. All rights reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
  
<plugin>
    <class>org.jivesoftware.openfire.plugin.rest.RESTServicePlugin</class>
    <name>Chat API</name>
    <description>RESTful API with Server Sent Events (SSE) for Openfire Meetings</description>
    <author>Ignite Realtime</author>
    <version>0.9.6 Release 4</version>
    <date>09/20/2019</date>
    <minServerVersion>4.1.5</minServerVersion>
    <minJavaVersion>1.8</minJavaVersion>    
    <adminconsole>
        <tab id="tab-webclients" name="${admin.sidebar.webclients.name}" description="${admin.sidebar.webclients.description}" url="rest-api.jsp">
            <sidebar id="tab-chatapi" name="${admin.sidebar.webclients.item.chatapi.name}" description="${admin.sidebar.webclients.item.chatapi.description}">
                <item url="rest-api.jsp" id="chatapi-rest-api" name="${admin.sidebar.webclients.item.settings.name}" description="${admin.sidebar.webclients.item.settings.description}" />
                <item url="swagger-ui-sandbox.jsp" id="swagger-ui" name="${admin.sidebar.webclients.item.swagger.name}" description="${admin.sidebar.webclients.item.swagger.description}" />                                                        
                <item url="ofchat-email-listener.jsp" id="ofchat-email-listener" name="${config.page.email.listener.title}" description="${config.page.email.listener.description}"/> 
                <item url="uport-summary.jsp" id="uport-summary" name="${config.page.uport.summary.title}" description="${config.page.uport.summary.description}"/> 
         </sidebar>            
        </tab>     
            
        <tab id="tab-users" >
            <sidebar id="sidebar-users" >
                <item id="user-summary" >
                    <sidebar id="sidebar-users-options" >
                        <item id="user-properties-plugin" name="Edit User Properties" url="user-properties.jsp" description="View, change and edit user properties"/>
                        <item id="email-certificate" name="Email Certificate" url="email-certificate.jsp" description="Email Client Certificate to User"/>                        
                    </sidebar>
                </item>
            </sidebar>

              <sidebar id="sidebar-groups" >
                <item id="group-summary" >
                    <sidebar id="sidebar-group-options">
                             <item id="group-properties-plugin" name="Edit Group Properties"  url="group-properties.jsp" description="View, change and edit group properties"/>                                       
                    </sidebar>
                </item>
            </sidebar>
        </tab>         
    </adminconsole>
</plugin>
